<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: Compte de joueur</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>

        <div id="wrapper">
                <div class="container">
                    <div class="block">
                        <p> work in progress </p>
                        <a href="/"><p> Retourner à l'accueil </p></a>
                    </div>
                </div>

        </div> <!-- wrapper end -->
    </body>
</html>