<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: Compte de joueur</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>

        <div id="wrapper">
            <img src="{% static main_img %}" alt="main img" id="main_img"/>

            <div class="navbar_container">
                <div class="navbar_block">
                    <a href="/"><img class="navbar_img" src="{% static navbar_icon_home %}"></a>
                </div>
                <div class="navbar_block">
                    {{navbar_user_icon | safe}}
                </div>
            </div> <!-- end navbar_container -->

            <div class="container">
                <div class="block">
                <h2>Notes personnelles</h2>
                    {% for entry in pj_note_content %}
                        <p class="note_quote">{{entry | linebreaksbr}}</p>
                    {% endfor %}
                </div>
            </div> <!-- end container -->

        </div> <!-- end wrapper -->
    </body>
</html>