{% extends 'base_base.html' %}

{% block content %}

<div class="container">
    <div class="large_left_block">
        {% for image in character.img_name.all %}
        <img class ="large_img" src="{{image.name}}" alt = 'profile pic'/>
        {% endfor %}
        <a class="small_legend" href="/pj/view/{{character.uid}}">Voir la fiche de personnage publique</a>
        <a class="small_legend" href="/password_change">Changer de mot de passe</a>
        <a class="small_legend" href="/logout">Se déconnecter</a>
    </div> <!-- end block -->

    <div class="block">
        <h2>{{character.name}} - {{character.first_job}} {{character.second_job}}</h2> 
        <p>{{character.description | linebreaksbr}}</p>
    </div> <!-- end block -->
</div> <!-- end container -->

<div class="container">
    <div class="block">
        <h2>Compétences</h2>
        <p><b>{{unique_skill.name}} (Compétence unique)</b> : {{unique_skill.description  | linebreaksbr}}</p>
        {% for skill in other_skills %} 
            <p><b>{{skill.name}}</b> : {{skill.description | linebreaksbr}}</p>
        {% endfor %}
    </div> <!-- end block -->
</div> <!-- end container -->

<div class="container">
    <div class="block">
        <h2 id="Possessions">Possessions</h2>
        <h3>Visibles</h3>
        <ul>
        {% for item in char_stuff_visible %} 
        <li title= "{{item.description}}">({{item.quantity}}) {{item.name}} {% if item.recipe %}[ <a href="/itembreakdownbyuser/{{item.uid}}">Recycler</a> ]{% endif %} [ <a href="/itemswitchprivacy/{{item.uid}}">Cacher</a> ]</li>
        {% endfor %}
        </ul>
        <h3>Cachées</h3>
        <ul>
            {% for item in char_stuff_not_visible %} 
            <li title= "{{item.description}}">({{item.quantity}}) {{item.name}} [ <a href="/itembreakdownbyuser/{{item.uid}}">Recycler</a> ] [ <a href="/itemswitchprivacy/{{item.uid}}">Rendre visible</a> ]</li>
            {% endfor %}
        </ul>
    </div> <!-- end block -->
</div> <!-- end container -->

<div class="container">
    <div class="block">
        <h2 id="Notes">Notes</h2>
            {% for entry in pj_note_content %}
                <p class="note_quote">{{entry | linebreaksbr}}</p>
            {% endfor %}
    </div>
</div>  <!-- end container -->

<div class="container">
    <div class="block">
        <h2 id="Artisanat">Artisanat</h2>
            <ul>
            {% for craft in possible_craft %}
                <li>{{craft}} [ <a href="/itemcraftbyuser/{{craft.uid}}">Créer</a> ]</li>
            {% endfor %}
            </ul>
    </div>
</div>  <!-- end container -->
{% endblock %}