<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>:: Vaste ::</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="/static/vsite/style.css" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>
        <div id="wrapper">
            <div class="container">

                <div class="block"><a href="/"><h4>Accueil</h4></a></div>
                <div class="block"><a href="/account"><h4>Journal</h4></a></div>
                <div class="block"><a href="/log"><h4>Résumé de parties</h4></a></div>
                <div class="block " id="world_dropdown"><a href="#"><h4>Monde du vaste</h4></a>
                    <div id="world_dropdown_content">
                            <a href="/places"><h4>Lieux</h4></a>
                            <a href="/pheno"><h4>Phénomènes</h4></a>
                    </div>
                </div>
                <div class="block" id="char_dropdown"><a href="#"><h4>Personnages</h4></a>
                    <div id="char_dropdown_content">
                        <a href="/pj"><h4>Joueurs</h4></a>
                        <a href="/pnj"><h4>Non joueurs</h4></a>
                        <a href="/creatures"><h4>Créatures</h4></a>
                    </div>
                </div>
            </div> <!-- end container -->

            {% block content %}
            {% endblock %}

        </div> <!-- end wrapper -->
    </body>
</html>
