{% extends 'base_base.html' %}

{% block content %}
<div class="container">
    
    <div class="medium_left_block">
        {% for item in img %}
        {% if item.complete_file %}
        <a href="{{item.complete_file}}"><img class ="medium_img" src="{{item.name}}" alt = 'profile'/></a>
        {% else %}
        <img class ="medium_img" src="{{item.name}}" alt = 'profile'/>
        {% endif %}
        {% if item.external_link %}<a href="{{item.external_link}}" class="small_legend" target="_blank">Source</a>{% endif %}
        {% endfor %}
    </div> <!-- end block -->

    <div class="block">
        <h2>{{obj.name}}</h2>
        <p>{{obj.description | safe | linebreaksbr}}</p>
        <h3>Notes publiques</h3>
        <p>
        {% for public_note in public_notes %} 
            {{public_note | safe}} <br>
        {% endfor %}
        </p>
    </div> <!-- end block -->
</div> <!-- end container -->

<div class="container">
    <div class="block">
        <h2>{{stuff_title}}</h2>
    </div> <!-- end block -->
</div> <!-- end container -->

<div class="container wrappable_container">
    {% if not obj_stuff %}
        <div class="block"><p>Rien apparemment...</p></div> <!-- end block -->
    {% else %}
        {% for item in obj_stuff %} 
            {% if item.is_visible %} 
                <div class="medium_left_block">
                    <div class="image_under_text"><img class="small_img" src="{{item.img_name}}"><h4 class="text_on_img">?</h4></div>
                    <p class="item_legend">{{item}}</p>
                    {% if is_admin %}
                        {% if item.is_visible %}<p class="item_legend"><a href="/itemswitchprivacy/{{item.uid}}" class="admin_option"> Visible {% else %}<a href="/itemswitchprivacy/{{item.uid}}" class="admin_option">Caché</a>{% endif %}</a></p>
                        <p class="item_legend"><a class="admin_option" href="/giveitemto/{{item.uid}}/1061193016228543981">gt Fiole</a></p>
                        <p class="item_legend"><a class="admin_option" href="/giveitemto/{{item.uid}}/3808195743949274374">gt Taurus</a></p>
                        <p class="item_legend"><a class="admin_option" href="/giveitemto/{{item.uid}}/1943793931158625313">gt Dryade</a></p>
                        <p class="item_legend"><a class="admin_option" href="/giveitemto/{{item.uid}}/2925594765163772086">gt Sighill</a></p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}    
    {% endif %}
</div> <!-- end container -->

{% if obj.close_to %}
<div class="container">
    <div class="block"><h2>Lieux proches</h2></div> <!-- end block -->
</div> <!-- end container -->

<div class="container wrappable_container">
    {% for close_place in obj.close_to.all %}
    <div class="block medium_block">
        <a href="{{close_place.pk}}">
            <img class ="medium_img" src="{{close_place.img_name.all.0.name}}" alt = 'profile pic'/>
        </a>
        <h4>{{close_place.name}}</h4>
    </div> <!-- end block -->
    {% endfor %}
</div> <!-- end container -->
{% endif %}

<div class="container">
    <div class="block">
        <h2>Notes personnelles</h2>
        {% if user.is_authenticated %}
            {% for private_note in private_notes %}
                <p>{{private_note | safe}}</p>
            {% endfor %}
            <p>Ajouter une nouvelle note :</p>
            <form method='post'>{% csrf_token %}
            {{ form.as_p }}
            <p class="note_quote"><input type='submit' value='Submit' /></p>
            </form>
        {% else %}
            <a href="/login"><p><u>Connectez vous pour voir ou poster une note personnelle.</u></p></a>
        {% endif %}
    </div> <!-- end block -->
</div> <!-- end container -->
{% endblock %}