{% extends 'base_base.html' %}

{% block content %}
<div class="container">
    
    <div class="large_left_block">
        <a href="{{obj.img_src}}" target="_blank"><img class ="large_img" src="{{obj.img_id}}" alt = 'profile pic'/></a>
    </div> <!-- end block -->

    <div class="block">
        <h2>{{obj.name}}</h2>
        <p>{{obj.description | safe | linebreaksbr}}</p>
        <h2>{{stuff_title}}</h2>
            <ul>
                {% for item in obj_stuff %} 
                <li>({{item.quantity}}) {{item.name}}</li>
                {% endfor %}
            </ul>

        <h2>Notes publiques</h2>
        {% for public_note in public_notes %} 
            <p>{{public_note | safe}}</p>
        {% endfor %}
        <h2>Notes personnelles</h2>
        {% if user.is_authenticated %}
            {% for private_note in private_notes %}
                <p>{{private_note | safe}}</p>
            {% endfor %}
            <p>Ajouter une nouvelle note :</p>
            <form method='post'>{% csrf_token %}
            {{ form.as_p }}
            <p class="note_quote"><input type='submit' value='Submit' /></p>
            </form>
        {% else %}
            <a href="/login"><p><u>Connectez vous pour voir ou poster une note personnelle.</u></p></a>
        {% endif %}
    </div> <!-- end block -->

</div> <!-- end container -->
{% endblock %}