{% extends 'base_base.html' %}

{% block content %}
{% for log_item in log %}
<div class="container">  
    <div class="large_left_block">
        <a href="{{log_item.img_link}}">
            <img class ="large_img" src="{{log_item.img_id}}" alt = 'log pic'/>
            <p class="small_legend">{{log_item.img_legend}}</p>

        </a>
    </div> <!-- end block -->
    
    <div class="block">
        <p>{{log_item.corpus | safe | linebreaksbr}}</p>
        <p class="small_legend">{{log_item.chapter_date}}</p>
    </div>
</div> <!-- end container -->
{% endfor %}
{% endblock %}