<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: Accueil</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>

        <div id="wrapper">
            <div class="container">
                <div class="block">
                    <h1>VASTE.FR</h1>
                    <h4>Résumés de parties, aides de jeu, PNJ et créatures...</h4>
                </div> <!-- end block -->
            </div> <!-- end container -->

            {% for item in home_items %}
            <div class="container">
                <div class="left_block">
                    <a href="{{item.link}}">
                        <img class ="medium_img" src="{{item.img_id}}" alt = 'home item pic'/>
                    </a>
                </div>

                <div class="block">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div> <!-- end container -->
            {% endfor %}

        </div> <!-- wrapper end -->
    </body>
</html>