<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: Accueil</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="/static/vsite/style.css" />
    </head>

    <body>

        <div id="wrapper">
            <div class="container">
                <div class="block">
                    <h1>VASTE.FR</h1>
                </div> <!-- end block -->
            </div> <!-- end container -->
            <div class="container">
                <div class="block">
                    <h4>Annonces</h4>
                    <table style="width:100%">
                    {% for announce in announces %}
                        <tr>
                            <td valign="middle" align="center"><p class="announce">{{announce.title}} :: {{announce.corpus}} <span class="left_small_legend">({{announce.created_date.day}}/{{announce.created_date.month}}/{{announce.created_date.year}})</span></p></td>
                        </tr>
                    {% endfor %}
                    </table>
                    <a class="small_legend" href="/changelog">Changelog</a>
                </div> <!-- end block -->
            </div> <!-- end container -->
            <div class="container"> 
            {% if glob_var.game_is_on %}
                <div class="block" style="background: #7b9fbd;">
                    <a href="/gametable"><h1>Rejoindre la partie en cours !</h1></a>
                </div>
            {% else %}
                <div class="block">
                    <h1>Prochaine partie : {{glob_var.date_display}}</h1>
                </div>
            {% endif %}
            </div>
            {% for item in home_items %}
            <div class="container">
                <div class="medium_left_block">
                    <a href="{{item.link}}">
                        {% for image in item.img_name.all %}
                        <img class ="medium_img" src="{{image.name}}" alt = 'home item pic'/>
                        {% endfor %}
                    </a>
                </div>

                <div class="block">
                    <a href="{{item.link}}">
                        <h2>{{item.name}}</h2>
                        <p>{{item.description}}</p>
                    </a>
                </div>
            </div> <!-- end container -->
            {% endfor %}

        </div> <!-- wrapper end -->
    </body>
</html>