{% extends 'base_base.html' %}

{% block content %}
<div class="container">
    
    <div class="block">
        <img class ="large_img" src="{{character.img_id}}" alt = 'profile pic'/>   
    </div> <!-- end block -->

    <div class="block">
        <h2>{{character.name}} : {{character.fjob}} {{character.sjob}}</h2>
        <p>{{character.description | linebreaksbr}}</p>
        <h2>Possessions visibles</h2>
        <ul>
        {% for item in char_stuff %} 
        <li><span title="{{item.description}}">{{item.name}} en {{item.ia_type}}</span></li>
        {% endfor %}
        </ul>
    </div> <!-- end block -->

</div> <!-- end container -->
{% endblock %}