<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: </title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>

        <div id="wrapper">
            <div class="container">
                {% for navbar_item in navbar_items %}
                    <div class="block"><a href="{{navbar_item.link}}"><h4>{{navbar_item.name}}</h4></a></div>
                {% endfor %}
            </div> <!-- end container -->
  
            <div class="container">
                
                <div class="block">
                    <img class ="large_img" src="{{character.img_id}}" alt = 'profile pic'/>   
                </div> <!-- end block -->

                <div class="block">
                    <h2>{{character.name}} : {{character.fjob}} {{character.sjob}}</h2>
                    <p>{{character.description | linebreaksbr}}</p>
                    <h2>Possessions visibles</h2>
                    <ul>
                    {% for item in character.stuff %} 
                    <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                </div> <!-- end block -->

            </div> <!-- end container -->

        </div> <!-- end wrapper -->
    </body>

</html>