<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Tests Voxclam</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>

        <div id="wrapper">
        
            <img src="{% static main_img %}" alt="main img" id="main_img"/>

            <div class="navbar_container">
                <div class="navbar_block">
                    <a href="/"><img class="navbar_img" src="{% static navbar_icon_home %}"></a>
                </div>
                <div class="navbar_block">
                    {{navbar_user_icon | safe}}
                </div>
            </div>
  
            <div class="container">
                <div class="block">
                    <h2>{{name}} : {{cast}}</h2>
                    <img class ="avatar_img" src="{% static avatar %}" alt = 'profile pic'/>   
                    
                    <h2>Description</h2>
                    <p>{{description}}</p>
                    
                    <h2>Inventaire</h2>
                    <div class="container">
                        {% for item in stuff %} 
                            <div class="block"><h4>{{item}}</h4> <img class="stuff_pics" src="{% static stuff_pics %}"></div><div>    </div>
                        {% endfor %}
                    </div>
                </div> <!-- block end -->

                <div class="block">
                    <h2>Notes personnelles</h2>
                    
                    {% if user.is_authenticated %}
                        {% for entry in pj_note_content %}
                            {{entry | linebreaks}}
                        {% endfor %}

                        <h4>Ajouter une nouvelle note :</h4>
                        <form method='post'>{% csrf_token %}
                        {{ form.as_p }}
                        <p><input type='submit' value='Submit' /></p>
                        </form>
                    {% else %}
                        <p>Connectez vous pour voir ou poster une note personnelle.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>

</html>