/* MEDIA QUERIES FOR MOBILE ---------------------------------------*/
@media (max-width: 1000px) {
  :root {
    font-size: 2em;
  }

  .container{
    width: 100%;
    flex-flow: column;
  }

  html{
    background: url('/static/vsite/mobile_bg.png');
  }

  #char_dropdown:hover #char_dropdown_content {
    display: block; 
    width:100%;
    background-color: rgba(78, 88, 90, 0.9);
  }


  #world_dropdown:hover #world_dropdown_content {
    display: block; 
    width:100%;
    background-color: rgba(78, 88, 90, 0.9);
  }

  #char_dropdown_content {
    display: none;
    justify-content: space-around;
    position: relative;
    align-items: left;
    z-index: 1;
  }
  #world_dropdown_content {
    display: none;
    justify-content: space-around;
    position: relative;
    align-items: left;
    z-index: 1;
  }

  .announce{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 90%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .text_on_img{
    color: orange;
    position: absolute;
    top: 30%;
    left:-5%;
    width: 100%;
  }

  .medium_left_block { 
    display: flex;
    border-radius: 5px;
    margin: 5px;
    align-items: stretch;
    background-color: rgba(76, 80, 82, 0.7);
  }

  .image_under_text{
    margin: 2px;
    position: relative;  
  }

}

/* MEDIA QUERIES FOR DESKTOP --------------------------------------*/
@media(min-width: 1000px) , (max-resolution: 1dppx){
  :root {
    font-size: 14px; 
  }

  .container{
    flex: row;
    justify-content: space-between;
    max-width: 1000px;
    max-height: 1000px;
  }

  .medium_left_block{
    min-width: 150px;
    max-width: 150px;
  }

  .medium_block{
    min-width: 150px;
    max-width: 150px;
  }

  html { 
    background: url('/static/vsite/main_img.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0e1316;
    overflow-y: scroll;
  }

  #char_dropdown:hover #char_dropdown_content {
    display: block; 
    width:100%;
    max-width: 195px;
    background-color: rgba(78, 88, 90, 1);
    
  }

  #world_dropdown:hover #world_dropdown_content {
    display: block; 
    width:100%;
    max-width: 215px;
    background-color: rgba(78, 88, 90, 1);
  }
  #char_dropdown_content {
    display: none;
    justify-content: space-around;
    position: fixed;
    align-items: left;
    z-index: 1;
  }
  #world_dropdown_content {
    display: none;
    justify-content: space-around;
    position: fixed;
    align-items: left;
    z-index: 1;
  }

  .announce{
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 60%;
    font-size: 90%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .text_on_img{
    background-color: black;
    font-size: 110%;
    color: orange;
    position: absolute;
    text-align: center;
    top: 55px;
    left: 15px;
    width: 29px;
  }

  .image_under_text{
    margin: 0 auto;
    position: relative;
    min-width: 74px;
    max-width: 74px;
    height: auto;
  }

  .medium_left_block { 
    display: flex;
    border-radius: 5px;
    margin: 5px;
    flex-flow: wrap;
    background-color: rgba(76, 80, 82, 0.7);
  }

  .attr_table{
    border-collapse: collapse;
    margin-left: 40px;
    margin-right: 40px;
    width: 60%;
  }

  .attr_table td, th{
    text-align: center;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgba(56, 58, 60, 0.7);
  }
}

/*WEBFONT SUPPORT -------------------------------------------------*/
@font-face{ 
  font-family: 'acherusgrotesque_regular';
  src: url('/static/vsite/acherusgrotesque_regular/acherus_grotesque_-_regular-webfont.eot');
  src: url('/static/vsite/acherusgrotesque_regular/acherus_grotesque_-_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/vsite/acherusgrotesque_regular/acherus_grotesque_-_regular-webfont.woff') format('woff'),
       url('/static/vsite/acherusgrotesque_regular/acherus_grotesque_-_regular-webfont.ttf') format('truetype'),
       url('/static/vsite/acherusgrotesque_regular/acherus_grotesque_-_regular-webfont.svg#webfont') format('svg');
}

/* NATIVE CSS -----------------------------------------------------*/
* {
    color : #d6d6d6;
    font-family: Helvetica, Arial, sans-serif;
}

body{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

a{
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

a:hover{
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 5px;
}

h1, h4{
  text-align: center;
}

h2{
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  background-color: rgba(56, 58, 60, 0.7);
}

h1, h2, h3, h4{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}


img{
  max-width: 90%;
  height: auto;
  border-radius: 5px;
} 

p {
  font-family:  'acherusgrotesque_regular', Arial, sans-serif;
  text-justify: inter-word;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

textarea {
  width:50%;
  height: 100px;
  color: black;
}

input{
  color:black;
}

b{
  color: #7b9fbd;
}

/* CUSTOM CLASSES -------------------------------------------------*/
.container { 
  display: flex;
  flex: 1 1 auto;
  margin: 5px auto;
  background-color: rgba(0,0,0,0);
  margin-bottom: 15px;
}

.wrappable_container{
  flex-wrap: wrap;
  justify-content: flex-start;
}

.block { 
  display: flex;
  flex: 1 1 auto;
  border-radius: 5px;
  margin: 5px;
  flex-flow: column;
  background-color: rgba(76, 80, 82, 0.9);
  /*border: solid #190D0D 1px;*/
}

.large_left_block { 
  display: flex;
  flex: 0 0 auto;
  border-radius: 5px;
  margin: 5px;
  flex-flow: column;
  align-items: stretch;
  background-color: rgba(76, 80, 82, 0.7);
}

.xlarge_img{
  max-width: 900px;
  max-height: 500px;
  display: block;
  margin: 10px auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.large_img {
  display: block;
  margin: 10px auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  max-height: 100%;

}

.medium_img{
  display: block;
  margin: 10px auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: auto;
}

.small_img{
  display: block;
  margin: 5px auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: auto;
  max-width: 70px;
}

.micro_img{
  display: block;
  margin: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  max-height: 40px;
  width: auto;
}

#wrapper {
  margin: 0 auto;
}

.left_game_table{
  min-width: 1000px;
}

.right_game_table{

}

.small_legend{
  font-style: italic;
  text-align: center;
  font-size: 90%;
}

.left_small_legend{
  font-style: italic;
  font-size: 90%;
  margin-bottom: 2px;
}

.item_legend{
  text-align: center;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 90%;
}

.reverted{
  color: red;
  font-weight: bold;
}

.admin_option{
  color: orange;
  font-size: 80%;
  margin-bottom: 2px;
}

.player_action{
  color: orange;
  font-size: 90%;
}

.align_horiz{
  flex-flow: row;
  align-items: center
}

.attr_table{
  display: table;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
}

.attr_table td, th{
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(56, 58, 60, 0.7);
}

.third_block{
  max-width: 33%;
}

#id_entry{
  width: 92%;
  height: 18px;
  font-size: 110%;
  font-family: 'acherusgrotesque_regular', Arial, sans-serif;
}
/* Attribute meters -----------------------------*/
.meter { 
  height: 18px;  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 2px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: red;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.body_meter > span {
  background-color: #a10b0b;
}

.instinct_meter > span {
  background-color: #6aa84f;
}

.spirit_meter > span {
  background-color: #4a86e8;
}

.meter_text{
  font-style: italic;
}