/* MEDIA QUERIES FOR MOBILE ---------------------------------------*/
@media (max-width: 1200px) {
  :root {
    font-size: 2em;
  }

  .container{
    width: 100%;
    flex-flow: column;
  }
}

/* MEDIA QUERIES FOR DESKTOP --------------------------------------*/
@media(max-resolution: 1dppx){
  :root {
    font-size: 14px; 
  }

  .container{
    flex: row;
    justify-content: space-between;
    max-width: 1200px;
    max-height: 1200px;
  }

  .large_left_block{
    min-width: 220px;
    max-width: 220px;
  }

  .medium_left_block{
    min-width: 120px;
    max-width: 120px;
    }
}

/* NATIVE CSS -----------------------------------------------------*/
* {
    color : white;
    font-family: Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
}

html { 
  background: url('/static/vsite/main_img.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0e1316; /*last used : 0e1316*/ 
  overflow-y: scroll;
}

h1, h4{
  text-align: center;
}

h1, h2, h3, h4{
  margin-left: 30px;
  margin-right: 30px;
}


img{
  max-width: 90%;
  height: auto;
  border-radius: 10px;
} 

p {
  text-justify: inter-word;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

textarea {
  width:50%;
  height: 100px;
  color: black;
}

input{
  color:black;
}

/* CUSTOM CLASSES -------------------------------------------------*/
.container { 
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 5px auto;
  text-align: left;
  background-color: rgba(0,0,0,0);
  /*background-color: #46585a;*/
}

.block { 
  display: flex;
  flex: 1 1 auto;
  border-radius: 10px;
  margin: 5px;
  flex-flow: column;
  background-color: rgba(78, 88, 90, 0.6);  
  /*background-color: #46585a;*/
}

.medium_left_block { 
  display: flex;
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 5px;
  flex-flow: column;
  align-items: stretch;
  background-color: rgba(78, 88, 90, 0.6);  
}

.large_left_block { 
  display: flex;
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 5px;
  flex-flow: column;
  align-items: stretch;
  background-color: rgba(78, 88, 90, 0.6);
}


.large_img {
  display: block;
  margin: 10px auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;

}

.medium_img{
  display: block;
  margin: 10px auto;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: auto;
}

.micro_img{
  max-width: 20px;
}

.wrapper {
  margin:auto;
}

.small_legend{
  font-style: italic;
  text-align: center;
  font-size: 90%;
}